<div fxLayout="row wrap" fxLayoutAlign="center center">
  <!-- Map -->
  <div fxFlex="100" fxFlex.gt-md="50" class="card-body-map">
    <h2>{{ content?.statistics_charts_map_title }}</h2>
    <google-chart
      *ngIf="chartsReady"
      style="width: 100%"
      [data]="geoChart"
    ></google-chart>
    <ngx-skeleton-loader
      *ngIf="!chartsReady"
      [theme]="{ width: '600px', height: '500px' }"
    ></ngx-skeleton-loader>
  </div>

  <!-- Pie Chart -->
  <div fxFlex="100" fxFlex.gt-md="50" class="card-body">
    <h2>{{ content?.statistics_charts_pie_chart_title }}</h2>
    <google-chart *ngIf="chartsReady" [data]="pieChart"></google-chart>
    <ngx-skeleton-loader
      *ngIf="!chartsReady"
      [theme]="{ width: '600px', height: '500px' }"
    ></ngx-skeleton-loader>
  </div>
</div>
