.main-card {
  margin: 10px;
  color: #f7f8fc;
  background-color: #3f51b5;
  cursor: pointer;
}

.month-main {
  background-color: #add8e6;
}

.history {
  background-color: #ffffff;
}

h2 {
  color: #3f51b5;
  font-weight: bolder;
}
