<div class="dashboard">
  <!-- Countries List Dropdown Begins -->
  <app-countries-list-dropdown
    #countriesListDropdown
    [content]="content"
    (onCountryChange)="countryChange($event)"
  ></app-countries-list-dropdown>
  <!-- Countries List Dropdown Ends -->

  <!-- Statistical Charts Begins -->
  <app-statistics-charts
    #statisticsCharts
    [content]="content"
    [(chartsReady)]="chartsReady"
  ></app-statistics-charts>
  <!-- Statistical Charts Ends -->

  <!-- Historical Statistics Begins -->
  <app-historical-statistics
    #historicalStatistics
    [content]="content"
    [(chartsReady)]="chartsReady"
  ></app-historical-statistics>
  <!-- Historical Statistics Ends -->
</div>
