.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
}

mat-toolbar {
  height: auto;
  background-color: transparent;
}

span {
  color: #3f51b5;
}
